doctype html
html
  head
    title Koushik Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/img/logo.png")
                | KDA 
            li #[a(href="/")  Home]
            li #[a(href="/") About]
            li #[a(href="/")  Sevices]
            li #[a(href="/")  Class info]
            li #[a(href="/")  Contact Us]
    block content
    footer#footerSection
        | Copyright 2020 KoushikDanceAcademy.com