h1{
    text-align: center;
    margin: 14px 0px;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.myInput{
    width: 50%;
    font-size: 1rem;
    margin: 9px auto;
    text-align: center;
    padding: 9px;
    border: 2px solid red;
    border-radius: 4px;
    
}
.btn{
    padding: 3px 16px;
    font-size: 1.5rem;
    margin: 13px;
    cursor: pointer;
    border-radius: 6px;
}
.container{
    height: 85vh;
}